body{                          
    background-image:url("https://c.wallhere.com/photos/17/0c/Minecraft_night_moon_rays_Sky_Temple_stars_clouds_light_blue-1926749.jpg!d");   
    margin: 0;
  background-size: 100%;
    padding: 10;
}
.campo{
color: rgb(255, 255, 255);
}
.okk{
color:rgb(255, 255, 255);
}
.formulário {
    text-align: center;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    margin: 20px;

}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}


nav ul li a {
    color: white;
    text-decoration: none;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
}

.especie {
    font-size: large;


}

h1 {
    font-size: 30;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h3 {
    font-size: 60;


}

h2 {
    text-align: center;


}
nav{
    margin-left: 42%;
    margin-right: 42%;
}

.fome {
    color: aliceblue;
}

.justica{
    color: aliceblue;
}
.brr {
    color: aliceblue;
}
.Compromisso {
    color: aliceblue;
}
.Cristiano {
    color: aliceblue;
}
.james {
    color: aliceblue;
}